In [17]:
import pandas as pd

In [18]:
df_BND = pd.read_csv('./NSC2_BND.csv')
df_BND.head(3)

,Unnamed: 0,_id,RN_INDI,BTH_YYYY,DTH_YYYYMM,COD1,COD2
0,0,64d2fd0ac53a8fe2f8cb3e6c,294364,1921LE,200707.0,T08-T14,W00-W19
1,1,64d2fd0ac53a8fe2f8cb3e6d,646257,1921LE,200805.0,A15-A19,NaN
2,2,64d2fd0ac53a8fe2f8cb3e6e,733575,1921LE,201309.0,G30,NaN

### insertMany to Mongodb

In [19]:
import pymongo as mg

In [20]:
client = mg.MongoClient(host='mongodb://localhost:27017')

In [21]:
database = client['study_test']
database

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'study_test')

In [22]:
collection = database['collect_tests']
collection

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'study_test'), 'collect_tests')

In [23]:
data_list = df_BND.to_dict(orient='records')

In [24]:
type(data_list)

list

In [ ]:
collection.insert_many(data_list)