In [1]:
import pymongo as mg
import pandas as pd

In [2]:
client = mg.MongoClient(host='mongodb://localhost:27017')

In [3]:
database = client['study_data_analytics']

In [4]:
collection = database['collect_update']

In [9]:
cursor_data = collection.find({})

In [10]:
df_collect_update = pd.DataFrame(list(cursor_data))
df_collect_update[:2]

                        _id   name  age   city
0  65012a4d8c33eba4be7534cd  Alice   26  Seoul
1  65012a4d8c33eba4be7534ce    Bob   30  Busan

In [15]:
from datetime import datetime
df_collect_update['update'] = datetime.utcnow()
df_collect_update[:2]

                        _id   name  age   city                     update
0  65012a4d8c33eba4be7534cd  Alice   26  Seoul 2023-09-13 04:08:57.801975
1  65012a4d8c33eba4be7534ce    Bob   30  Busan 2023-09-13 04:08:57.801975

In [16]:
dict_collect_update

{'_id': {0: ObjectId('65012a4d8c33eba4be7534cd'),
  1: ObjectId('65012a4d8c33eba4be7534ce'),
  2: ObjectId('65012a4d8c33eba4be7534cf')},
 'name': {0: 'Alice', 1: 'Bob', 2: 'Charlie'},
 'age': {0: 26, 1: 30, 2: 35},
 'city': {0: 'Seoul', 1: 'Busan', 2: 'Incheon'},
 'update': {0: Timestamp('2023-09-13 13:03:01.860351'),
  1: Timestamp('2023-09-13 13:03:01.860351'),
  2: Timestamp('2023-09-13 13:03:01.860351')}}

In [18]:
collection_new = database['collect_update_new']
dict_collect_update = df_collect_update.to_dict(orient='records')
result = collection_new.insert_many(dict_collect_update)

In [20]:
result.inserted_ids

[ObjectId('65012a4d8c33eba4be7534cd'),
 ObjectId('65012a4d8c33eba4be7534ce'),
 ObjectId('65012a4d8c33eba4be7534cf')]